/* Primary colors */

$purple: hsla(245, 100%, 81%, 1);


/* Neutral colors */

$light-grayish-blue: hsla(215, 18%, 79%, 1);
$dark-grayish: hsla(0, 0%, 39%, 1);
$grayish: hsla(206, 20%, 93%, 1);
$white: hsl(0, 0%, 100%);
$black: hsla(0, 0%, 0%, 1);