$purple: hsla(250, 100%, 70%, 1);
$light-purple: hsla(227, 100%, 95%, 1);
$lavender: hsla(250, 100%, 83%, 1);
$dark-purple: hsla(258, 34%, 19%, 1);

$yellow: hsla(31, 100%, 72%, 1);
$green: hsla(144, 56%, 62%, 1);
$white: hsl(0, 0%, 100%);
$black: hsla(0, 0%, 0%, 1);