@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@500&family=Montserrat:wght@600;700&display=swap");
/* reset */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 20rem;
  line-height: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

span {
  margin: 0;
  padding: 0;
  font-size: inherit;
  color: inherit;
  background: none;
  border: none;
  line-height: inherit;
}

/* ------------------------ */
body {
  font-family: "Hind", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
  background-color: hsl(227, 100%, 95%);
  color: hsl(0, 0%, 0%);
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 360px;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
}

/* ------------------------ */
.main-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* ------------------------ */
.main-page__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
  background-color: hsl(250, 100%, 70%);
  border-radius: 1.25rem;
  margin: 3rem 0 1.25rem;
  padding: 1rem 1rem 1.125rem;
}

h1 {
  font-size: 2.25rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  line-height: normal;
  text-align: center;
}

.fa-bars {
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

/* ------------------------ */
.main-page__form {
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.125rem;
}

.todo-input {
  position: relative;
}

form input,
form button {
  padding: 0.8rem;
  font-size: 1rem;
  border: none;
  background: hsl(0, 0%, 100%);
}

form input:focus-visible {
  outline-color: hsla(250, 100%, 83%, 0.2);
}

.todo-button {
  position: absolute;
  right: 1.8125rem;
  color: hsl(0, 0%, 100%);
  background: hsl(250, 100%, 70%);
  border-radius: 1rem;
  cursor: pointer;
  width: 5rem;
  transition: all 0.3s ease;
}

form button:hover {
  color: hsl(0, 0%, 100%);
  background: hsl(250, 100%, 83%);
}

/*-------------------------*/
.main-page__list {
  background-color: hsl(0, 0%, 100%);
  border-radius: 1.25rem;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 10px;
}

.list__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: normal;
  color: hsl(0, 0%, 0%);
  margin-top: 3.125rem;
  text-align: center;
}

.main-page__image {
  margin-top: 3.75rem;
}

.main_img {
  width: 14.0625rem;
  height: 10.5rem;
}

/*-------------------------*/
.delete_item {
  display: none;
}

/*-------------------------*/
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo-list__container {
  margin: 0.5rem;
  background: #fff;
  color: hsl(0, 0%, 0%);
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo-list li {
  flex: 1;
  padding-right: 20px;
}

.delete-btn,
.complete-btn {
  background: hsl(31, 100%, 72%);
  color: #fff;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 10px;
}

.complete-btn {
  background: rgb(101, 182, 133);
}

.todo-item {
  padding: 0 0.5rem;
}

.fa-check,
.fa-trash {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #ff6f47;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
}

.select::after {
  content: "▼";
  position: absolute;
  background: #ff6f47;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.select:hover::after {
  background: white;
  color: #ff6f47;
}/*# sourceMappingURL=style.css.map */