@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500&family=Montserrat:wght@600;700&display=swap');

@import "reset";
@import "variables";

/* ------------------------ */

body {
    font-family: 'Hind', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
    background-color: $light-purple;
    color: $black;
}

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

.page {
    flex: 1 1 auto;
}

[class*="__container"] {
    max-width: 360px;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    margin: 0 auto;
}

/* ------------------------ */

.main-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* ------------------------ */

.main-page__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
    background-color: $purple;
    border-radius: 1.25rem;
    margin: 3rem 0 1.25rem;
    padding: 1rem 1rem 1.125rem;
}

h1 {
    font-size: 2.25rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: $white;
    line-height: normal;
    text-align: center;
}

.fa-bars {
    color: $white;
    cursor: pointer;
}

/* ------------------------ */

.main-page__form {
    background-color: $white;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.125rem;
}


form input {
    border-radius: 1rem;
}

form input,
form button {
    padding: 0.8rem;
    font-size: 1rem;
    border: none;
    background: $white;
}

form input:focus-visible {
    outline-color: $light-lavender;
}

.todo-button {
    color: $white;
    background: $purple;
    border-radius: 0 1rem 1rem 0;
    cursor: pointer;
    width: 5rem;
    transition: all 0.3s ease;
}

form button:hover {
    color: $white;
    background: $lavender;
}

/*-------------------------*/

.main-page__list {
    background-color: $white;
    border-radius: 1.25rem;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.25rem 0.625rem;
}

.list__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: normal;
    color: $black;
    margin-top: 3.125rem;
    text-align: center;
}

.main-page__image {
    margin-top: 3.75rem;
}

.main_img {
    width: 14.0625rem;
    height: 10.5rem;
}

/*-------------------------*/

.delete_item {
    visibility: visible;
}

/*-------------------------*/

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo-list__container {
    margin: 0.5rem;
    background: #fff;
    color: $black;
    font-size: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo-list li {
    flex: 1;
    padding-right: 1.25rem;
}

.delete-btn,
.complete-btn {
    background: $yellow;
    color: #fff;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 0.625rem;
}

.complete-btn {
    background: $green;
}

.todo-item {
    padding: 0 0.5rem;
}

.fa-check,
.fa-trash {
    pointer-events: none;
}


.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

// .select {
//     // margin: 1rem;
//     position: relative;
//     overflow: hidden;
// }

// select {
//     color: $black;
//     width: 10rem;
//     cursor: pointer;
//     padding: 1rem;
// }

// .select::after {
//     content: "\25BC";
//     position: absolute;
//     background: $lavender;
//     top: 0;
//     right: 0;
//     padding: 1rem;
//     pointer-events: none;
//     transition: all 0.3s ease;
// }

// .select:hover::after {
//     background: white;
//     color: #ff6f47;
// }

// .select__item {
//     font-size: 1.125rem;
// }

// .select__item:hover {
//     text-decoration: underline;
// }


.menu__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 36px;
}

.menu__link {
    font-size: 18px;
}

.menu__link:hover {
    text-decoration: underline;
}

.menu-open body {
    overflow: hidden;
}

.menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: $lavender;
    padding: 100px 15px 20px 15px;
    transition: left 0.3s;
    overflow: auto;
    z-index: 1;
}

.menu-open .menu__body {
    left: 0;
}

.icon-menu {
    display: block;
    position: relative;
    z-index: 5;
    width: 30px;
    height: 18px;
}

/* Burger menu */

.icon-menu__line,
.icon-menu::before,
.icon-menu::after {
    content: "";
    position: absolute;
    background-color: $white;
    width: 100%;
    height: 0.125rem;
    left: 0;
    transition: all 0.3s ease;
}

.icon-menu::before {
    top: 0;
}

.icon-menu::after {
    bottom: 0;
}

.icon-menu__line {
    top: calc(50% - 0.0625rem);
}

.menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
}

.menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
}

.menu-open .icon-menu__line {
    left: 50%;
    width: 0;
}